.body{
    background-color: darkgray;
}

.h1{
    color: aqua;
}

nav.menu{
    margin-top: 30px;
    margin-bottom: 30px;
}

nav.menu ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
}

nav.menu li{
    display: inline;
    margin-right: 15px;
    color: black;
}
nav.menu a {
    text-decoration: none;
}