body{
    background-color: darkgray;
}

h1{
    color: aqua;
}

.div-menu{
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: cadetblue;
    padding-top: 30px;
}

nav.menu{
    margin-top: 30px;
    margin-bottom: 30px;
}

nav.menu ul {
    list-style-type: none;
    padding: 0;
}

nav.menu li{
    display: block;
    margin-right: 15px;
    color: black;
}
nav.menu a {
    text-decoration: none;
    padding: 10px;
    background-color: aquamarine;
    color: white;
    text-align: center;

}

.iframe-container{
    width: 80%;
    max-width: 800px;
    height: 500px;
    color: aquamarine;
}

iframe {
    display: block;
}
