body{
    background-color: darkgray;
    display: flex;
    margin: 0;
    padding: 0;
}

.t-main{
    color: bisque;
}

.main-site{
    flex: 1;  
    height: 100vh;
    background-color: darkcyan;
    box-sizing: border-box;
}
.div-menu{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: cadetblue;
    padding-top: 30px;
    text-decoration: none;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

nav.menu{
    width: 250px;
    height: 100vh;
    bottom: 50px;
}

nav.menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav.menu li{
    display: block;
    margin-bottom: 15px;
    color: black;
}

.iframe-container{
    width: 95%;
    height: 500px;
    color: aquamarine;
}

iframe {
    display: block;
}
